<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  $(function () {

    // // socket.ioの処理開始
    // var socket = io.connect();

    // // event1イベントを受信
    // socket.on('event1', function (data) {

    //   var rc = prompt(data);

    //   //###############
    // });
  });
</script>
<style>
.row {
  width: 500px;
  margin: 20px;
  font-family: Meiryo;
}
</style>
</head>
<body>
<form method="post">
  <div class="row">
    <h1>Node Chat Room</h1>
  </div>
  <div class="row">
    ログインユーザ：<%= data %>さん
  </div>
  <div class="row">
    <textarea rows="4"></textarea>
  </div>
  <div class="row">
    <input type="button" id="tokoButton" value="投稿" class="btn btn-info">
  </div>
  <div class="row">
    <input type="button" id="exitButton" value="退室する" class="btn btn-info">
  </div>
</form>
<div>
</body>
</html>